<%- include("partials/header") -%>





<!-- HERO
    ================================================== -->
    <section class="banner-area py-7">
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-md-12 col-lg-7 text-center text-lg-left">
                    <div class="main-banner">
                        <!-- Heading -->
                        <h3 class="font-weight-normal">
                            Manage stress for health 
                        </h3>
                        <p> While we take action to lessen the immediate impacts of COVID-19 on our communities and our health care systems, it is also important to minimize the secondary health effects of this pandemic. Widespread stress and anxiety regarding COVID-19, compounded by the economic distress due to lost wages, employment and financial assets; mass school closures; and necessary physical distancing measures can result in an increase of stress-related health conditions.  

                        </p>
                        <ul>
                            <li>
                                Supportive relationships: Maintain supportive relationships wherever you can, including virtually.
                            </li>
                            <li>
                                Exercise: Engage in 60 minutes of physical activity every day, if you can. It doesn’t have to be all at one time.  
                            </li>
                            <li>
                                Sleep: Get sufficient, high-quality sleep. This may be particularly hard right now, but going to sleep and waking up at the same time each day can help. 
                            </li>
                            <li>
                                Nutrition: Ensure you are getting proper nutrition to help combat stress. 
                            </li>
                        </ul>                        
                        
                    </div>
                </div>

                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img-block">
                        <img src="images/getHelp.gif" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>










<%- include("partials/footer") -%>