<%- include("partials/header") -%>






<!-- HERO
    ================================================== -->
    <section class="banner-area py-7">
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-md-12 col-lg-7 text-center text-lg-left">
                    <div class="main-banner">
                        <!-- Heading -->
                        <h3 class="font-weight-normal">
                            What should I do if I think I might have COVID-19? 
                        </h3>
                        <p> If you recently started having any of the symptoms below, call your doctor to be evaluated for testing or visit a testing location. It can take up to 14 days after being exposed to someone with COVID-19 for you to feel symptoms, such as: 

                        </p>
                        <ul>
                            <li>
                                Fever, cough, shortness of breath/trouble breathing 
                            </li>
                            <li>
                                Chills, night sweats, sore throat, muscle/body aches 
                            </li>
                            <li>
                                Loss of taste or smell, headache, confusion, vomiting, diarrhea ​
                            </li>
                        </ul>                        
                        
                    </div>
                </div>

                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img-block">
                        <img src="images/washHand.gif" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>








<%- include("partials/footer") -%>