<%- include("partials/header") -%>

<!-- HERO
    ================================================== -->
    <section class="banner-area py-7">
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-md-12 col-lg-7 text-center text-lg-left">
                    <div class="main-banner">
                        <!-- Heading -->
                        <h1 class="display-4 mb-4 font-weight-normal">
                            Your actions save lives
                        </h1>
                        <!-- GRID -->
                        <div class="container">
                            <div class="row card-deck pb-3 text-center pl-3">
                              <div class="col-sm total-cases bg-covid border-0">
                                  <h3>Total cases:</h3>
                                    

                                  <div id="resultcases"> 
                                    </div> 
                                
                              </div>
                              <div class="col-sm total-cases bg-covid border-0">
                                    <h3>Total death:</h3> 
                                    
                                        <div id="resultdeath"> 
                                        </div> 
                              </div>
                              <div class="col-sm total-cases bg-covid border-0">
                                    <h3>Recovered:</h3>
                                    <div id="resultrecovered"> 
                                        </div>
                              </div>
                            </div>
                        </div> <br>



                        <!-- Subheading -->
                        <p class="lead mb-4">
                            Keep World healthy.
                            Wear a mask, wash your hands, keep your distance.
                        </p>

                        
                    </div>
                </div>

                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img-block">
                        <img src="images/testing.gif" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>





    <%- include("partials/footer") -%>