<%- include("partials/header") -%>



<div class="spinner-grow text-success" style="width: 6rem; height: 6rem;" role="status" id="loading">
        <span class="sr-only">Loading...</span>
      </div>




<div id="result">
        

</div>
















<%- include("partials/footer") -%>