<%- include("partials/header") -%>






<!-- HERO
    ================================================== -->
    <section class="banner-area py-7">
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-md-12 col-lg-7 text-center text-lg-left">
                    <div class="main-banner">
                        <!-- Heading -->
                        <p class="font-weight-normal">
                            Coronavirus test criteria and availability are changing daily. Check your state guidelines and call the coronavirus testing site before you go to learn about testing criteria, availability and hours.
                        </p>
                        <ul>
                            <li>
                                If you are experiencing symptoms of COVID-19, such as fever, cough, or shortness of breath, please contact your healthcare provider or telehealth program to discuss whether you should be evaluated for testing.
                            </li>
                            <li>
                                Each coronavirus test provider will determine if testing is appropriate based on your symptoms, risk factors, and test availability.
                            </li>
                            <li>
                                UPDATE: Due to an increase in demand, there may be longer than usual wait times for testing and results in certain areas.
                            </li>
                        </ul>                        
                        
                    </div>
                </div>

                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img-block">
                        <img src="images/stay-home.gif" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>








<%- include("partials/footer") -%>